$black: #3C3C3C;
$yellow: #F2BC1B;
$green: #B0D28A;
$blue: #B4EAFC;
$white: #FFFEFA;
$h1: 56px; 
$h2: 36px; 
$h3: 24px;
$p: 16px;

.landing_conatiner{ 
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    // justify-content: space-evenly;
}
.landing_sub_container_left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30vw;
    margin-left: 30px;
}
.tagRow{
    display: flex;
    flex-direction: row;
    width: 40vw;
}
.tag{
    background-color: $yellow;
    padding: 5px 10px;
    margin-right: 10px;
    width: fit-content;
    border-radius: 10px;
}
h1{
    font-size: $h1;
    margin:  5px 0px 5px 0px;
    padding: 0px;
}
h3{
    font-size: $h3;
    margin: 0px;
    padding: 0px;
}
p{
    font-size: $p;
    margin: 0px;
    padding: 0px;
}
.projectContainer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentContainer{ 
    display: flex;
    flex-direction: column;
    width: 95vw;
    justify-content: left;
}
.figmaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.centeredText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
}
.centeredColumnContainer{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-left: 50px;
}
.centeredRowContiner{ 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lefttrisection{
    width: 30vw;
}
.righttrisection{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}
.leftRowContainer{
    display: flex;
    flex-direction: row;
}
.leftText{
    width: 500px;
    margin-right: 200px;
}
.marginBtm{
    margin-bottom: 50px;
}
.centeredImages{ 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.thinImageConatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.tri{
    display: flex;
    flex-direction: row;
}
.projectsLanding{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: left; 
}
.rightMargin{
    margin-right: 50px;
}
.polarisScreens{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin-right: 100px;
}
.caption{
    text-align: center;
}
.noMargin{
    margin: 0px
}
.smallMargin{
    margin-right: 20px;
}